SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
GOOGLE_BOOKS_API_KEY=your_google_books_api_key
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
COMIC_VINE_API_KEY=your_comic_vine_api_key
IPTV_SERVER=your_iptv_server
IPTV_PORT=443
IPTV_USERNAME=your_iptv_username
IPTV_PASSWORD=your_iptv_password
IPTV_M3U_PLAYLIST_LINK=your_iptv_m3u_playlist_link
LUMINA_SERVER_TOKEN=copy_the_token_from_settings_when_using_remote_clients
